.container {
    -fx-background-color: rgba(30, 30, 30, 0.8);
    -fx-padding: 10px;
    -fx-max-width: 250px;
    -fx-max-height: 330px;
    -fx-background-radius: 10px;
}

HBox {
    -fx-alignment: center;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.title {
    -fx-font-size: 22px;
    -fx-font-family: 'BlackPearl';
    -fx-pref-width: infinity;
    -fx-alignment: center;
}

.title .text {
    -fx-font-smoothing-type: gray;
}

#backButton:hover {
    -fx-text-fill: #a0a0a0;
}