.container {
    -fx-background-color: rgba(30, 30, 30, 0.8);
    -fx-padding: 5px;
    -fx-background-radius: 10px;
    -fx-max-width: 0px;
     /* Como yo quiero que el alto del contenedor del inventario crezca dependiendo de la cantidad de componentes, etc.,
      * entonces no haria falta especificar un valor, pero al usar AnchorPane como contenedor principal y 0px como valor
      * de anclaje superior e inferior (AnchorPane.topAnchor="0" y AnchorPane.bottomAnchor="0"), entonces tendria que
      * especificar un height de 0px para que no se expanda verticalmente y asi compensar la distancia del anclaje con
      * respecto a la ventana, que al ser AnchorPane.topAnchor="0" y AnchorPane.bottomAnchor="0", quedaria pegado a la
      * ventana. Lo mismo se aplica para el ancho del contenedor en este caso. */
    -fx-max-height: 0px;
}

.label {
    -fx-text-fill: white;
}

.title {
    -fx-font-size: 22px;
    -fx-font-family: 'BlackPearl';
    -fx-pref-width: infinity; /* Hace que el label ocupe todo el ancho del contenedor, lo que facilita el centrado */
    -fx-alignment: center;
}

.title .text {
    -fx-font-smoothing-type: gray;
}

.inventory {
    -fx-padding: 0 0 5px 0;
}

.hotbar {
    -fx-padding: 5px 0 0 0;
    -fx-border-color: rgba(192, 192, 192, 0.7);
    -fx-border-width: 1px 0 0 0;
}

.slot {
    /* -fx-border-color: white;
    -fx-border-width: 1px; */
}

.slot:hover {
      /* Gradiente metalico */
     -fx-background-color: linear-gradient(to right, rgba(192, 192, 192, 0.2), rgba(128, 128, 128, 0.2));
     -fx-background-radius: 5px;
 }

.slot.drag {
    -fx-background-color: linear-gradient(to right, rgba(192, 192, 192, 0.2), rgba(128, 128, 128, 0.2));
    -fx-background-radius: 5px;
}

/* Este estilo se aplica solo a elementos que tengan AMBAS clases "slot" y "equipped" simultaneamente */
.slot.equipped {
    /* La propiedad -fx-background-color con gradiente radial define un efecto de fondo circular. El centro del
     * gradiente se posiciona exactamente en el punto medio del elemento, tanto horizontal como verticalmente,
     * utilizando las coordenadas center 50% 50%. El radio se establece al 60% del tamaño total del elemento, lo que
     * determina el alcance de la transicion de colores. La progresion cromatica comienza con un color dorado (gold) en
     * el centro exacto, que luego transita a naranja en la mitad del radio y finalmente se desvanece a transparencia
     * completa en el borde exterior. */
    -fx-background-color: radial-gradient(center 50% 50%, radius 60%, gold 0%, orange 30%, transparent 100%);
    -fx-background-radius: 13px;
}

.tooltip {
    -fx-padding: 2px;
}

.image {
    -fx-fit-width: 32px;
    -fx-fit-height: 32px;
    -fx-preserve-ratio: true; /* Hace falta? */
}

.amount {
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-translate-x: 10px;
    -fx-translate-y: 10px;
}