.container {
    -fx-background-color: rgba(30, 30, 30, 0.8);
    -fx-padding: 5px;
    -fx-background-radius: 10px;
}

.label {
    -fx-text-fill: white;
}

.title {
    -fx-font-size: 22px;
    -fx-font-family: 'BlackPearl';
}

.title .text {
    -fx-font-smoothing-type: gray;
}

.close {
    -fx-font-size: 18px;
}

.close:hover {
    -fx-text-fill: #ff6b6b;
}

.inventory {
    -fx-alignment: center;
    -fx-pref-width: 200px;
    -fx-padding: 10px 10px;
    -fx-hgap: 5px; /* Espacio horizontal entre slots */
    -fx-vgap: 5px;
}

.inventory-slot.equipped {
    /* La propiedad -fx-background-color con gradiente radial define un efecto de fondo circular. El centro del
     * gradiente se posiciona exactamente en el punto medio del elemento, tanto horizontal como verticalmente,
     * utilizando las coordenadas center 50% 50%. El radio se establece al 60% del tamaño total del elemento, lo que
     * determina el alcance de la transicion de colores. La progresion cromatica comienza con un color dorado (gold) en
     * el centro exacto, que luego transita a naranja en la mitad del radio y finalmente se desvanece a transparencia
     * completa en el borde exterior. */
    -fx-background-color: radial-gradient(center 50% 50%, radius 60%, gold 0%, orange 30%, transparent 100%);
    -fx-background-radius: 13px;
}

.inventory-slot:hover {
     /* Gradiente metalico */
    -fx-background-color: linear-gradient(to right, rgba(192, 192, 192, 0.2), rgba(128, 128, 128, 0.2));
    -fx-background-radius: 5px;
}

.tooltip {
    -fx-padding: 2px;
}

.amount {
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-translate-x: 10;
    -fx-translate-y: 10;
}