.container {
    -fx-background-color: rgba(30, 30, 30, 0.8);
    -fx-padding: 10px;
    /* -fx-spacing: 10px; /* Espacio entre elementos */
    -fx-max-width: 200px; /* El ancho maximo se respeta porque no interfiere con la disposicion vertical natural del VBox padre */
    /* No hace falta especificar la altura maxima ya que el panel crece verticalmente tanto como sea necesario (debido
     * al contenedor VBox padre), ya sea sumando la cantidad de componentes, el espaciado entre elementos, espacio
     * interno, etc. */
     /* -fx-max-height: 10px; */
    -fx-background-radius: 10px; /* Bordes redondeados */
    /* -fx-border-color: #FFFFFF; /* Color del borde */
    /* -fx-border-radius: 10px; /* Bordes redondeados del borde */
}

.label {
    -fx-text-fill: white; /* En este caso, el texto esta dentro de los label y por lo tanto necesitas especificar el color al label y no al componente text */
    -fx-font-size: 14px;
    /* System es la fuente por defecto que se usa en los labels de archivos FXML de JavaFX. Esta fuente varia segun el
     * sistema operativo donde se ejecute la aplicacion, ya que usa la fuente del sistema operativo. */
    /* -fx-font-family: 'Roboto'; */
    /* -fx-alignment: center; /* Se usa para alinear el contenido dentro del Label mismo, no para posicionar el Label dentro de su contenedor padre (HBox en este caso) */
}

.title {
    -fx-font-size: 22px;
    -fx-font-family: 'BlackPearl';
}

/* Selecciona especificamente el nodo de texto dentro del Label con id title */
.title .text {
    /* Solo activa el anti-aliasing para la fuente del titulo ya que esta presenta bordes pronunciados y los demas
    * labels usan la fuente del sistema, por lo tanto le daria un aspecto borroso. */
    -fx-font-smoothing-type: gray;
}

.close-button {
    -fx-font-size: 25px;
}

.close-button:hover {
    -fx-text-fill: #ff6b6b;
}

.stat-row {
    -fx-alignment: center;
}